.my-nav{ 
    width:100%;
    z-index: 92;
    min-height:10vh;
}

.nav-color{
    background-color: rgba(252, 0, 0, 0);
}

.navbar-brand{
    color:White;
    Font-size:50px;
    text-transform:uppercase;
    font-family: 'Annie Use Your Telescope', cursive;
}

.list{
    text-align:center;
}

.nav-color li a{
    color:rgb(255, 255, 255);
    font-family: 'Dosis', sans-serif;
    font-size:20px;
}

#hero{
    background-image: url("../images/pasta7.jpg");
    background-position: center; 
    background-size: cover; 
    height:100vh;
    width:100%;
    position: relative;
    color:white;
    display:flex;
    display:flex;
    padding:0;
    justify-content: center;
    align-items: center;
    
}

#hero-overlay {
    background: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;  
    
} 

#title {
   z-index:1;
   margin:0;
   padding:0;
   text-align:center;
}

.container{
    position:relative;
    width: 100%;
    height: 100px;
    margin:0;
    padding:0;
    background-color:black;
}

.cook-info{
    background-color:rgb(24, 23, 23);  
}

.cook-info ul{
    list-style-type: none;
    text-align:center;
    padding:0;
    margin-bottom:0;
}

.cook-info ul li{
    color:white;
    display: inline-block;
    font-size:20px;
    margin:0;
    padding:20px 20px 20px 20px;
}

#pasta{
    margin-top: 0;
    padding-top:0;
    width:40%;
    float:right;

}

#about{
    text-align:center;
    padding-top:50px;
    
}

p{
    padding-left:40px;
    width:50%;
    padding-bottom:15%;
    padding-right:50px;
    
}

#ingrdients{
    margin-left:50px;
    float:left;
    background-color:rgb(240, 61, 61);
    width:20%;
    

}

#method{
    margin-left:50px;
    margin-right:0;
    padding-right:0;;
    background-color:rgb(179, 154, 65);
    width:72.5%;
    align-content: center;
    display:inline-block;
    
}

body{
    background-color: rgb(235, 229, 208);
    color:rgb(26, 25, 25);
}

#methods{
    padding-left:25%;
    text-align:center;
}

ol{
    margin-left:75px;
    padding-left:25%;
}

#ingrdients-head{
    text-align:center;
}

#recipe{
    text-align:left;
    margin-left:50px;
    margin-bottom:50px;
}

.slanted{
    position:relative;
    width:100%;
    height:300px;
    background:rgb(175, 175, 170);  
    margin-bottom:70px;
    

}

.slanted:after{
    position:absolute;
    content:"";
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    background:inherit;  
    transform-origin: top left;
    transform:skewY(5deg);
    z-index:-1;

}



   





